// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Dropdown
$dropdown-bg: #2c3339;
$dropdown-link-color: #fff;
$dropdown-link-hover-bg: #181c20;
$dropdown-link-hover-color: #fff;
$dropdown-link-active-bg: #3c475b;
$dropdown-link-active-color: #fff;
$dropdown-divider-bg: #728dac;

//Card
$card-cap-bg: #eeeeee;
